.title-text {
   position: absolute;
   top: 20vh;
   left: 0;
   width: 100vw;
   font-size: 3em;
   text-align: center;
   color: white;
}

.login-container {
    position: absolute;
    bottom: 10vh;
    background-color: white;
    border-radius: 5vh;
    width: 90vw;
    left: 5vw;
    padding: 5vw;
 }