.background {
   background: linear-gradient(180deg, rgb(5, 94, 88), rgb(245, 114, 33))
}

.page-container {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 90vh;
   background-color: white;
   overflow-y: scroll;
}

.page-title {
   position: absolute;
   left: 0;
   top: 3.5vh;
   width: 100vw;
   text-align: center;
   color: white;
   font-size: 1.5em;
}

.btn {
   position: absolute;
   width: 12vw;
   height: 6vh;
}

.btn-big {
   width: 34vw;
   height: 25vh;
}

.btn-back {
   left: 5vw;
   top: 2vh;
}