<ion-content padding class="background">
   <div class="page-title">Sensor details</div>
   <button navPop ion-button color="light" clear icon-only class="btn btn-icon-only btn-back">
      <ion-icon name='arrow-back'></ion-icon>
   </button>
   <div class="page-container">
      <ion-list *ngIf="sensor">
         <ion-item no-lines>
            <ion-label>{{sensor.name}}</ion-label>
         </ion-item>
         <ion-item>
            <ion-label stacked color="primary">Sensor address</ion-label>
            <ion-input readonly="true" value="{{sensor.address}}"></ion-input>
         </ion-item>
         <ion-item>
            <ion-label stacked color="primary">Type</ion-label>
            <ion-input readonly="true" value="{{sensor.type.name}}"></ion-input>
         </ion-item>
         <ion-item>
            <ion-label stacked color="primary">Area</ion-label>
            <ion-input readonly="true" value="{{sensor.area.name}}"></ion-input>
         </ion-item>
         <ion-item>
            <ion-label stacked color="primary">Notes</ion-label>
            <ion-textarea readonly="true" value="{{sensor.note}}"></ion-textarea>
         </ion-item>
      </ion-list>
      <ion-list *ngIf="sensor">
         <ion-item no-lines>
            <ion-label>Generated events</ion-label>
         </ion-item>
         <ion-item *ngFor="let event of events" (click)="goToEvent(event)">
            <h2>{{event.type.name}}</h2>
            <p>{{event.time}}</p>
            <ion-note item-end *ngIf="event.state == 'new'">New</ion-note>
         </ion-item>
         <ion-item *ngIf="!(events && events.length > 0)">
            <p>No events found!</p>
         </ion-item>
      </ion-list>
   </div>
</ion-content>